In [1]:
import numpy as np
import pandas as pd

In [2]:
s = pd.Series(['a', 3, np.nan, 1, np.nan])

print(s.notnull().sum())

3

In [3]:
pd.isnull(np.nan) #not a number

True

In [4]:
pd.isnull(None)

True

In [5]:
pd.isna(np.nan)

True

In [7]:
pd.isnull(pd.Series([1,2,4,5,np.nan]))

0    False
1    False
2    False
3    False
4     True
dtype: bool

In [14]:
pd.isnull(pd.DataFrame
        ({
    'column A' : [1, np.nan, 3],
    'column B' :[np.nan, 3,4 ],
    'column N' : [2,3,np.nan]
}))

   column A  column B  column N
0     False      True     False
1      True     False     False
2     False     False      True

Pandas Operatiosns with missiong value

In [19]:
pd.Series([1,2, np.nan]).count

<bound method Series.count of 0    1.0
1    2.0
2    NaN
dtype: float64>

In [20]:
pd.Series([1,2, np.nan]).sum

<bound method Series.sum of 0    1.0
1    2.0
2    NaN
dtype: float64>

Filtering missing data

In [21]:
s = pd.Series([1,2,3,4,np.nan,np.nan,7])

In [22]:
s

0    1.0
1    2.0
2    3.0
3    4.0
4    NaN
5    NaN
6    7.0
dtype: float64

In [23]:
pd.isnull(s)

0    False
1    False
2    False
3    False
4     True
5     True
6    False
dtype: bool

In [24]:
pd.notnull(s)

0     True
1     True
2     True
3     True
4    False
5    False
6     True
dtype: bool

In [27]:
pd.isnull(s).sum()

2

In [28]:
s[s.notnull()]

0    1.0
1    2.0
2    3.0
3    4.0
6    7.0
dtype: float64

Droppping null values

In [32]:
df = pd.DataFrame({
    'column A' : [1, np.nan, 3],
    'column B' :[np.nan, 3,4 ],
    'column N' : [2,3,np.nan]
})

In [33]:
df

   column A  column B  column N
0       1.0       NaN       2.0
1       NaN       3.0       3.0
2       3.0       4.0       NaN

In [34]:
df.isnull()

   column A  column B  column N
0     False      True     False
1      True     False     False
2     False     False      True

In [35]:
df.isnull().sum()

column A    1
column B    1
column N    1
dtype: int64

In [36]:
df.dropna() # any column with no value will be deleted

Empty DataFrame
Columns: [column A, column B, column N]
Index: []

In [37]:
df

   column A  column B  column N
0       1.0       NaN       2.0
1       NaN       3.0       3.0
2       3.0       4.0       NaN

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   column A  2 non-null      float64
 1   column B  2 non-null      float64
 2   column N  2 non-null      float64
dtypes: float64(3)
memory usage: 200.0 bytes

In [40]:
df.isnull().sum

<bound method DataFrame.sum of    column A  column B  column N
0     False      True     False
1      True     False     False
2     False     False      True>

In [42]:
df.fillna(0) #filling missing value (inmutable)

   column A  column B  column N
0       1.0       0.0       2.0
1       0.0       3.0       3.0
2       3.0       4.0       0.0

In [43]:
s

0    1.0
1    2.0
2    3.0
3    4.0
4    NaN
5    NaN
6    7.0
dtype: float64

In [44]:
s.fillna(method='bfill')

0    1.0
1    2.0
2    3.0
3    4.0
4    7.0
5    7.0
6    7.0
dtype: float64

In [45]:
df.fillna(method='ffill', axis=1) #horizontal wise-row

   column A  column B  column N
0       1.0       1.0       2.0
1       NaN       3.0       3.0
2       3.0       4.0       4.0

In [47]:
df.fillna(method='ffill', axis=0) #vertical wise-column check axis

   column A  column B  column N
0       1.0       NaN       2.0
1       1.0       3.0       3.0
2       3.0       4.0       3.0

In [48]:
import pandas as pd
import numpy as np

s = pd.Series([np.nan, 1, 2, np.nan, 3])
s = s.fillna(method='ffill')

print(s)

0    NaN
1    1.0
2    2.0
3    2.0
4    3.0
dtype: float64