In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('acme.csv')
df.head()

   Unnamed: 0 month    market      acme
0           1  1/86 -0.061134  0.030160
1           2  2/86  0.008220 -0.165457
2           3  3/86 -0.007381  0.080137
3           4  4/86 -0.067561 -0.109917
4           5  5/86 -0.006238 -0.114853

In [4]:
df.index

RangeIndex(start=0, stop=60, step=1)

SyntaxError: invalid syntax (<ipython-input-85-861caa0fbce5>, line 1)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60 entries, 0 to 59
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  60 non-null     int64
 1   month       60 non-null     object
 2   market      60 non-null     float64
 3   acme        60 non-null     float64
dtypes: float64(2), int64(1), object(1)
memory usage: 2.0+ KB

In [6]:
df.describe()

       Unnamed: 0     market       acme
count   60.000000  60.000000  60.000000
mean    30.500000  -0.051168  -0.068969
std     17.464249   0.053629   0.111572
min      1.000000  -0.262077  -0.284796
25%     15.750000  -0.079007  -0.133046
50%     30.500000  -0.044867  -0.089992
75%     45.250000  -0.011587  -0.031495
max     60.000000   0.073396   0.242616

In [7]:
df.columns

Index(['Unnamed: 0', 'month', 'market', 'acme'], dtype='object')

In [7]:
df.size

240

In [8]:
df.shape

(60, 4)

In [8]:
df.dtypes.value_counts

<bound method IndexOpsMixin.value_counts of Unnamed: 0      int64
month          object
market        float64
acme          float64
dtype: object>

In [9]:
df.dtypes

Unnamed: 0      int64
month          object
market        float64
acme          float64
dtype: object

In [10]:
df.rename(columns={'Unnamed: 0' : 'list'}, inplace = True)

In [11]:
df.describe()

            list     market       acme
count  60.000000  60.000000  60.000000
mean   30.500000  -0.051168  -0.068969
std    17.464249   0.053629   0.111572
min     1.000000  -0.262077  -0.284796
25%    15.750000  -0.079007  -0.133046
50%    30.500000  -0.044867  -0.089992
75%    45.250000  -0.011587  -0.031495
max    60.000000   0.073396   0.242616

In [10]:
df['market']

0    -0.061134
1     0.008220
2    -0.007381
3    -0.067561
4    -0.006238
5    -0.044251
6    -0.112070
7     0.030226
8    -0.129556
9     0.001319
10   -0.033679
11   -0.072795
12    0.073396
13   -0.011618
14   -0.026852
15   -0.040356
16   -0.047539
17   -0.001732
18   -0.008899
19   -0.020837
20   -0.084811
21   -0.262077
22   -0.110167
23    0.034955
24    0.012688
25   -0.002170
26   -0.073462
27   -0.043419
28   -0.054730
29   -0.011755
30   -0.061718
31   -0.101710
32   -0.032705
33   -0.045334
34   -0.079288
35   -0.036233
36   -0.011494
37   -0.093729
38   -0.065215
39   -0.037113
40   -0.044399
41   -0.084412
42    0.003444
43   -0.056760
44   -0.078970
45   -0.105367
46   -0.038634
47   -0.043261
48   -0.139773
49   -0.059094
50   -0.057736
51   -0.102524
52    0.023881
53   -0.079116
54   -0.078965
55   -0.161359
56   -0.119376
57   -0.076008
58   -0.006444
59   -0.026401
Name: market, dtype: float64

In [15]:
df['market'].to_frame()

      market
0  -0.061134
1   0.008220
2  -0.007381
3  -0.067561
4  -0.006238
5  -0.044251
6  -0.112070
7   0.030226
8  -0.129556
9   0.001319
10 -0.033679
11 -0.072795
12  0.073396
13 -0.011618
14 -0.026852
15 -0.040356
16 -0.047539
17 -0.001732
18 -0.008899
19 -0.020837
20 -0.084811
21 -0.262077
22 -0.110167
23  0.034955
24  0.012688
25 -0.002170
26 -0.073462
27 -0.043419
28 -0.054730
29 -0.011755
30 -0.061718
31 -0.101710
32 -0.032705
33 -0.045334
34 -0.079288
35 -0.036233
36 -0.011494
37 -0.093729
38 -0.065215
39 -0.037113
40 -0.044399
41 -0.084412
42  0.003444
43 -0.056760
44 -0.078970
45 -0.105367
46 -0.038634
47 -0.043261
48 -0.139773
49 -0.059094
50 -0.057736
51 -0.102524
52  0.023881
53 -0.079116
54 -0.078965
55 -0.161359
56 -0.119376
57 -0.076008
58 -0.006444
59 -0.026401

In [25]:
#df.loc['1']

In [29]:


certificates_earned = pd.DataFrame({
    'Certificates': [8, 2, 5, 6],
    'Time (in months)': [16, 5, 9, 12]
})

certificates_earned.index = ['Tom', 'Kris', 'Ahmad', 'Beau']

print(certificates_earned.iloc[2])

Certificates        5
Time (in months)    9
Name: Ahmad, dtype: int64

<h3>conditional selection(boolean arrays)</h3>

In [13]:
df['list'] > 10

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10     True
11     True
12     True
13     True
14     True
15     True
16     True
17     True
18     True
19     True
20     True
21     True
22     True
23     True
24     True
25     True
26     True
27     True
28     True
29     True
30     True
31     True
32     True
33     True
34     True
35     True
36     True
37     True
38     True
39     True
40     True
41     True
42     True
43     True
44     True
45     True
46     True
47     True
48     True
49     True
50     True
51     True
52     True
53     True
54     True
55     True
56     True
57     True
58     True
59     True
Name: list, dtype: bool

In [17]:
df.loc[df['list']> 10, 'list']

10    11
11    12
12    13
13    14
14    15
15    16
16    17
17    18
18    19
19    20
20    21
21    22
22    23
23    24
24    25
25    26
26    27
27    28
28    29
29    30
30    31
31    32
32    33
33    34
34    35
35    36
36    37
37    38
38    39
39    40
40    41
41    42
42    43
43    44
44    45
45    46
46    47
47    48
48    49
49    50
50    51
51    52
52    53
53    54
54    55
55    56
56    57
57    58
58    59
59    60
Name: list, dtype: int64

In [18]:
df.loc[df['list']> 10, ['list', 'market']]

    list    market
10    11 -0.033679
11    12 -0.072795
12    13  0.073396
13    14 -0.011618
14    15 -0.026852
15    16 -0.040356
16    17 -0.047539
17    18 -0.001732
18    19 -0.008899
19    20 -0.020837
20    21 -0.084811
21    22 -0.262077
22    23 -0.110167
23    24  0.034955
24    25  0.012688
25    26 -0.002170
26    27 -0.073462
27    28 -0.043419
28    29 -0.054730
29    30 -0.011755
30    31 -0.061718
31    32 -0.101710
32    33 -0.032705
33    34 -0.045334
34    35 -0.079288
35    36 -0.036233
36    37 -0.011494
37    38 -0.093729
38    39 -0.065215
39    40 -0.037113
40    41 -0.044399
41    42 -0.084412
42    43  0.003444
43    44 -0.056760
44    45 -0.078970
45    46 -0.105367
46    47 -0.038634
47    48 -0.043261
48    49 -0.139773
49    50 -0.059094
50    51 -0.057736
51    52 -0.102524
52    53  0.023881
53    54 -0.079116
54    55 -0.078965
55    56 -0.161359
56    57 -0.119376
57    58 -0.076008
58    59 -0.006444
59    60 -0.026401

<h3>Dropping stuff </h3>

In [27]:
df.drop(1)

    list  month    market      acme
0      1   1/86 -0.061134  0.030160
2      3   3/86 -0.007381  0.080137
3      4   4/86 -0.067561 -0.109917
4      5   5/86 -0.006238 -0.114853
5      6   6/86 -0.044251 -0.099254
6      7   7/86 -0.112070 -0.226846
7      8   8/86  0.030226  0.073445
8      9   9/86 -0.129556 -0.143064
9     10  10/86  0.001319  0.034776
10    11  11/86 -0.033679 -0.063375
11    12  12/86 -0.072795 -0.058735
12    13   1/87  0.073396  0.050214
13    14   2/87 -0.011618  0.111165
14    15   3/87 -0.026852 -0.127492
15    16   4/87 -0.040356  0.054522
16    17   5/87 -0.047539 -0.072918
17    18   6/87 -0.001732 -0.058979
18    19   7/87 -0.008899  0.236147
19    20   8/87 -0.020837 -0.094778
20    21   9/87 -0.084811 -0.135669
21    22  10/87 -0.262077 -0.284796
22    23  11/87 -0.110167 -0.171494
23    24  12/87  0.034955  0.242616
24    25   1/88  0.012688 -0.063518
25    26   2/88 -0.002170 -0.117677
26    27   3/88 -0.073462  0.201674
27    28   4/88 -0.043419 -0.147728
28    29   5/88 -0.054730 -0.170885
29    30   6/88 -0.011755 -0.014893
30    31   7/88 -0.061718 -0.110515
31    32   8/88 -0.101710 -0.168769
32    33   9/88 -0.032705 -0.135585
33    34  10/88 -0.045334 -0.084077
34    35  11/88 -0.079288 -0.164550
35    36  12/88 -0.036233  0.150269
36    37   1/89 -0.011494 -0.015672
37    38   2/89 -0.093729 -0.037860
38    39   3/89 -0.065215 -0.074712
39    40   4/89 -0.037113 -0.108530
40    41   5/89 -0.044399 -0.036769
41    42   6/89 -0.084412  0.023912
42    43   7/89  0.003444 -0.078430
43    44   8/89 -0.056760 -0.132199
44    45   9/89 -0.078970 -0.110141
45    46  10/89 -0.105367 -0.126302
46    47  11/89 -0.038634 -0.095730
47    48  12/89 -0.043261  0.065740
48    49   1/90 -0.139773 -0.120056
49    50   2/90 -0.059094 -0.085205
50    51   3/90 -0.057736 -0.130433
51    52   4/90 -0.102524 -0.116728
52    53   5/90  0.023881 -0.078039
53    54   6/90 -0.079116 -0.170322
54    55   7/90 -0.078965 -0.077727
55    56   8/90 -0.161359 -0.277035
56    57   9/90 -0.119376 -0.207595
57    58  10/90 -0.076008 -0.070515
58    59  11/90 -0.006444 -0.046274
59    60  12/90 -0.026401 -0.190834

In [33]:
df.drop([4,5])

    list  month    market      acme
0      1   1/86 -0.061134  0.030160
1      2   2/86  0.008220 -0.165457
2      3   3/86 -0.007381  0.080137
3      4   4/86 -0.067561 -0.109917
6      7   7/86 -0.112070 -0.226846
7      8   8/86  0.030226  0.073445
8      9   9/86 -0.129556 -0.143064
9     10  10/86  0.001319  0.034776
10    11  11/86 -0.033679 -0.063375
11    12  12/86 -0.072795 -0.058735
12    13   1/87  0.073396  0.050214
13    14   2/87 -0.011618  0.111165
14    15   3/87 -0.026852 -0.127492
15    16   4/87 -0.040356  0.054522
16    17   5/87 -0.047539 -0.072918
17    18   6/87 -0.001732 -0.058979
18    19   7/87 -0.008899  0.236147
19    20   8/87 -0.020837 -0.094778
20    21   9/87 -0.084811 -0.135669
21    22  10/87 -0.262077 -0.284796
22    23  11/87 -0.110167 -0.171494
23    24  12/87  0.034955  0.242616
24    25   1/88  0.012688 -0.063518
25    26   2/88 -0.002170 -0.117677
26    27   3/88 -0.073462  0.201674
27    28   4/88 -0.043419 -0.147728
28    29   5/88 -0.054730 -0.170885
29    30   6/88 -0.011755 -0.014893
30    31   7/88 -0.061718 -0.110515
31    32   8/88 -0.101710 -0.168769
32    33   9/88 -0.032705 -0.135585
33    34  10/88 -0.045334 -0.084077
34    35  11/88 -0.079288 -0.164550
35    36  12/88 -0.036233  0.150269
36    37   1/89 -0.011494 -0.015672
37    38   2/89 -0.093729 -0.037860
38    39   3/89 -0.065215 -0.074712
39    40   4/89 -0.037113 -0.108530
40    41   5/89 -0.044399 -0.036769
41    42   6/89 -0.084412  0.023912
42    43   7/89  0.003444 -0.078430
43    44   8/89 -0.056760 -0.132199
44    45   9/89 -0.078970 -0.110141
45    46  10/89 -0.105367 -0.126302
46    47  11/89 -0.038634 -0.095730
47    48  12/89 -0.043261  0.065740
48    49   1/90 -0.139773 -0.120056
49    50   2/90 -0.059094 -0.085205
50    51   3/90 -0.057736 -0.130433
51    52   4/90 -0.102524 -0.116728
52    53   5/90  0.023881 -0.078039
53    54   6/90 -0.079116 -0.170322
54    55   7/90 -0.078965 -0.077727
55    56   8/90 -0.161359 -0.277035
56    57   9/90 -0.119376 -0.207595
57    58  10/90 -0.076008 -0.070515
58    59  11/90 -0.006444 -0.046274
59    60  12/90 -0.026401 -0.190834

In [45]:
df.drop(columns = [58,59])

KeyError: '[58 59] not found in axis'

In [46]:
df
#not changing actual dataframe.

    list  month    market      acme
0      1   1/86 -0.061134  0.030160
1      2   2/86  0.008220 -0.165457
2      3   3/86 -0.007381  0.080137
3      4   4/86 -0.067561 -0.109917
4      5   5/86 -0.006238 -0.114853
5      6   6/86 -0.044251 -0.099254
6      7   7/86 -0.112070 -0.226846
7      8   8/86  0.030226  0.073445
8      9   9/86 -0.129556 -0.143064
9     10  10/86  0.001319  0.034776
10    11  11/86 -0.033679 -0.063375
11    12  12/86 -0.072795 -0.058735
12    13   1/87  0.073396  0.050214
13    14   2/87 -0.011618  0.111165
14    15   3/87 -0.026852 -0.127492
15    16   4/87 -0.040356  0.054522
16    17   5/87 -0.047539 -0.072918
17    18   6/87 -0.001732 -0.058979
18    19   7/87 -0.008899  0.236147
19    20   8/87 -0.020837 -0.094778
20    21   9/87 -0.084811 -0.135669
21    22  10/87 -0.262077 -0.284796
22    23  11/87 -0.110167 -0.171494
23    24  12/87  0.034955  0.242616
24    25   1/88  0.012688 -0.063518
25    26   2/88 -0.002170 -0.117677
26    27   3/88 -0.073462  0.201674
27    28   4/88 -0.043419 -0.147728
28    29   5/88 -0.054730 -0.170885
29    30   6/88 -0.011755 -0.014893
30    31   7/88 -0.061718 -0.110515
31    32   8/88 -0.101710 -0.168769
32    33   9/88 -0.032705 -0.135585
33    34  10/88 -0.045334 -0.084077
34    35  11/88 -0.079288 -0.164550
35    36  12/88 -0.036233  0.150269
36    37   1/89 -0.011494 -0.015672
37    38   2/89 -0.093729 -0.037860
38    39   3/89 -0.065215 -0.074712
39    40   4/89 -0.037113 -0.108530
40    41   5/89 -0.044399 -0.036769
41    42   6/89 -0.084412  0.023912
42    43   7/89  0.003444 -0.078430
43    44   8/89 -0.056760 -0.132199
44    45   9/89 -0.078970 -0.110141
45    46  10/89 -0.105367 -0.126302
46    47  11/89 -0.038634 -0.095730
47    48  12/89 -0.043261  0.065740
48    49   1/90 -0.139773 -0.120056
49    50   2/90 -0.059094 -0.085205
50    51   3/90 -0.057736 -0.130433
51    52   4/90 -0.102524 -0.116728
52    53   5/90  0.023881 -0.078039
53    54   6/90 -0.079116 -0.170322
54    55   7/90 -0.078965 -0.077727
55    56   8/90 -0.161359 -0.277035
56    57   9/90 -0.119376 -0.207595
57    58  10/90 -0.076008 -0.070515
58    59  11/90 -0.006444 -0.046274
59    60  12/90 -0.026401 -0.190834

<h3>modifying the dataframe</h3>

In [61]:
langs = pd.Series([ 'french', 'irish', 'hindi', 'french', 'irish', 'hindi', 'french', 'irish', 'hindi', 'french', 'irish', 'hindi', 'french', 'irish', 'hindi', 'french', 'irish', 'hindi', 'french', 'irish', 'hindi', 'french', 'irish', 'hindi', 'french', 'irish', 'hindi', 'french', 'irish', 'hindi', 'french', 'irish', 'hindi', 'french', 'irish', 'hindi', 'french', 'irish', 'hindi', 'french', 'irish', 'hindi', 'french', 'irish', 'hindi', 'french', 'irish', 'hindi', 'french', 'irish', 'hindi', 'french', 'irish', 'hindi', 'french', 'irish', 'hindi', 'french', 'irish', 'hindi'])

In [62]:
langs

0     french
1      irish
2      hindi
3     french
4      irish
5      hindi
6     french
7      irish
8      hindi
9     french
10     irish
11     hindi
12    french
13     irish
14     hindi
15    french
16     irish
17     hindi
18    french
19     irish
20     hindi
21    french
22     irish
23     hindi
24    french
25     irish
26     hindi
27    french
28     irish
29     hindi
30    french
31     irish
32     hindi
33    french
34     irish
35     hindi
36    french
37     irish
38     hindi
39    french
40     irish
41     hindi
42    french
43     irish
44     hindi
45    french
46     irish
47     hindi
48    french
49     irish
50     hindi
51    french
52     irish
53     hindi
54    french
55     irish
56     hindi
57    french
58     irish
59     hindi
dtype: object

In [63]:
df['Language'] = langs

In [66]:
df

    list  month    market      acme Language
0      1   1/86 -0.061134  0.030160   french
1      2   2/86  0.008220 -0.165457    irish
2      3   3/86 -0.007381  0.080137    hindi
3      4   4/86 -0.067561 -0.109917   french
4      5   5/86 -0.006238 -0.114853    irish
5      6   6/86 -0.044251 -0.099254    hindi
6      7   7/86 -0.112070 -0.226846   french
7      8   8/86  0.030226  0.073445    irish
8      9   9/86 -0.129556 -0.143064    hindi
9     10  10/86  0.001319  0.034776   french
10    11  11/86 -0.033679 -0.063375    irish
11    12  12/86 -0.072795 -0.058735    hindi
12    13   1/87  0.073396  0.050214   french
13    14   2/87 -0.011618  0.111165    irish
14    15   3/87 -0.026852 -0.127492    hindi
15    16   4/87 -0.040356  0.054522   french
16    17   5/87 -0.047539 -0.072918    irish
17    18   6/87 -0.001732 -0.058979    hindi
18    19   7/87 -0.008899  0.236147   french
19    20   8/87 -0.020837 -0.094778    irish
20    21   9/87 -0.084811 -0.135669    hindi
21    22  10/87 -0.262077 -0.284796   french
22    23  11/87 -0.110167 -0.171494    irish
23    24  12/87  0.034955  0.242616    hindi
24    25   1/88  0.012688 -0.063518   french
25    26   2/88 -0.002170 -0.117677    irish
26    27   3/88 -0.073462  0.201674    hindi
27    28   4/88 -0.043419 -0.147728   french
28    29   5/88 -0.054730 -0.170885    irish
29    30   6/88 -0.011755 -0.014893    hindi
30    31   7/88 -0.061718 -0.110515   french
31    32   8/88 -0.101710 -0.168769    irish
32    33   9/88 -0.032705 -0.135585    hindi
33    34  10/88 -0.045334 -0.084077   french
34    35  11/88 -0.079288 -0.164550    irish
35    36  12/88 -0.036233  0.150269    hindi
36    37   1/89 -0.011494 -0.015672   french
37    38   2/89 -0.093729 -0.037860    irish
38    39   3/89 -0.065215 -0.074712    hindi
39    40   4/89 -0.037113 -0.108530   french
40    41   5/89 -0.044399 -0.036769    irish
41    42   6/89 -0.084412  0.023912    hindi
42    43   7/89  0.003444 -0.078430   french
43    44   8/89 -0.056760 -0.132199    irish
44    45   9/89 -0.078970 -0.110141    hindi
45    46  10/89 -0.105367 -0.126302   french
46    47  11/89 -0.038634 -0.095730    irish
47    48  12/89 -0.043261  0.065740    hindi
48    49   1/90 -0.139773 -0.120056   french
49    50   2/90 -0.059094 -0.085205    irish
50    51   3/90 -0.057736 -0.130433    hindi
51    52   4/90 -0.102524 -0.116728   french
52    53   5/90  0.023881 -0.078039    irish
53    54   6/90 -0.079116 -0.170322    hindi
54    55   7/90 -0.078965 -0.077727   french
55    56   8/90 -0.161359 -0.277035    irish
56    57   9/90 -0.119376 -0.207595    hindi
57    58  10/90 -0.076008 -0.070515   french
58    59  11/90 -0.006444 -0.046274    irish
59    60  12/90 -0.026401 -0.190834    hindi

replacing vlaues per columns

In [70]:
df['Language'] = 'English'
df.head()

   list month    market      acme Language
0     1  1/86 -0.061134  0.030160  English
1     2  2/86  0.008220 -0.165457  English
2     3  3/86 -0.007381  0.080137  English
3     4  4/86 -0.067561 -0.109917  English
4     5  5/86 -0.006238 -0.114853  English

Renaming columns

In [75]:
df.rename(
    columns={
        'acme':'faults','market':'Market Values','list':'List'},
    index={
        1:'one', 2:'two'
    }
)

     List  month  Market Values    faults Language
0       1   1/86      -0.061134  0.030160  English
one     2   2/86       0.008220 -0.165457  English
two     3   3/86      -0.007381  0.080137  English
3       4   4/86      -0.067561 -0.109917  English
4       5   5/86      -0.006238 -0.114853  English
5       6   6/86      -0.044251 -0.099254  English
6       7   7/86      -0.112070 -0.226846  English
7       8   8/86       0.030226  0.073445  English
8       9   9/86      -0.129556 -0.143064  English
9      10  10/86       0.001319  0.034776  English
10     11  11/86      -0.033679 -0.063375  English
11     12  12/86      -0.072795 -0.058735  English
12     13   1/87       0.073396  0.050214  English
13     14   2/87      -0.011618  0.111165  English
14     15   3/87      -0.026852 -0.127492  English
15     16   4/87      -0.040356  0.054522  English
16     17   5/87      -0.047539 -0.072918  English
17     18   6/87      -0.001732 -0.058979  English
18     19   7/87      -0.008899  0.236147  English
19     20   8/87      -0.020837 -0.094778  English
20     21   9/87      -0.084811 -0.135669  English
21     22  10/87      -0.262077 -0.284796  English
22     23  11/87      -0.110167 -0.171494  English
23     24  12/87       0.034955  0.242616  English
24     25   1/88       0.012688 -0.063518  English
25     26   2/88      -0.002170 -0.117677  English
26     27   3/88      -0.073462  0.201674  English
27     28   4/88      -0.043419 -0.147728  English
28     29   5/88      -0.054730 -0.170885  English
29     30   6/88      -0.011755 -0.014893  English
30     31   7/88      -0.061718 -0.110515  English
31     32   8/88      -0.101710 -0.168769  English
32     33   9/88      -0.032705 -0.135585  English
33     34  10/88      -0.045334 -0.084077  English
34     35  11/88      -0.079288 -0.164550  English
35     36  12/88      -0.036233  0.150269  English
36     37   1/89      -0.011494 -0.015672  English
37     38   2/89      -0.093729 -0.037860  English
38     39   3/89      -0.065215 -0.074712  English
39     40   4/89      -0.037113 -0.108530  English
40     41   5/89      -0.044399 -0.036769  English
41     42   6/89      -0.084412  0.023912  English
42     43   7/89       0.003444 -0.078430  English
43     44   8/89      -0.056760 -0.132199  English
44     45   9/89      -0.078970 -0.110141  English
45     46  10/89      -0.105367 -0.126302  English
46     47  11/89      -0.038634 -0.095730  English
47     48  12/89      -0.043261  0.065740  English
48     49   1/90      -0.139773 -0.120056  English
49     50   2/90      -0.059094 -0.085205  English
50     51   3/90      -0.057736 -0.130433  English
51     52   4/90      -0.102524 -0.116728  English
52     53   5/90       0.023881 -0.078039  English
53     54   6/90      -0.079116 -0.170322  English
54     55   7/90      -0.078965 -0.077727  English
55     56   8/90      -0.161359 -0.277035  English
56     57   9/90      -0.119376 -0.207595  English
57     58  10/90      -0.076008 -0.070515  English
58     59  11/90      -0.006444 -0.046274  English
59     60  12/90      -0.026401 -0.190834  English

In [81]:
df.head()
#all the operations are immutable

   list month    market      acme Language
0     1  1/86 -0.061134  0.030160  English
1     2  2/86  0.008220 -0.165457  English
2     3  3/86 -0.007381  0.080137  English
3     4  4/86 -0.067561 -0.109917  English
4     5  5/86 -0.006238 -0.114853  English

In [80]:
import pandas as pd

certificates_earned = pd.DataFrame({
    'Certificates': [8, 2, 5, 6],
    'Time (in months)': [16, 5, 9, 12]
})
names = ['Tom', 'Kris', 'Ahmad', 'Beau']

certificates_earned.index = names
longest_streak = pd.Series([13, 11, 9, 7], index=names)
certificates_earned['Longest streak'] = longest_streak

print(certificates_earned)

       Certificates  Time (in months)  Longest streak
Tom               8                16              13
Kris              2                 5              11
Ahmad             5                 9               9
Beau              6                12               7

In [87]:
df['market per acme'] = df['market'] / df['acme']

In [89]:
mpa = df['market per acme']

In [92]:
df.head()

   list month    market      acme Language  market per acme
0     1  1/86 -0.061134  0.030160  English        -2.026989
1     2  2/86  0.008220 -0.165457  English        -0.049681
2     3  3/86 -0.007381  0.080137  English        -0.092105
3     4  4/86 -0.067561 -0.109917  English         0.614655
4     5  5/86 -0.006238 -0.114853  English         0.054313

<h3>statistical info</h3>

In [93]:
df.head()

   list month    market      acme Language  market per acme
0     1  1/86 -0.061134  0.030160  English        -2.026989
1     2  2/86  0.008220 -0.165457  English        -0.049681
2     3  3/86 -0.007381  0.080137  English        -0.092105
3     4  4/86 -0.067561 -0.109917  English         0.614655
4     5  5/86 -0.006238 -0.114853  English         0.054313

In [ ]:
df