In [3]:
import pandas as pd
import numpy as np

In [5]:
a = pd.Series([32.342,324.324,2342.4,4324.23,32.23,543.3,457.54,645.645])

In [6]:
a

0      32.342
1     324.324
2    2342.400
3    4324.230
4      32.230
5     543.300
6     457.540
7     645.645
dtype: float64

In [7]:
a.name = "random selected numbers"

In [8]:
a

0      32.342
1     324.324
2    2342.400
3    4324.230
4      32.230
5     543.300
6     457.540
7     645.645
Name: random selected numbers, dtype: float64

In [9]:
a.dtype

dtype('float64')

In [10]:
a.values

array([  32.342,  324.324, 2342.4  , 4324.23 ,   32.23 ,  543.3  ,
        457.54 ,  645.645])

In [11]:
type(a.values)

numpy.ndarray

In [12]:
a

0      32.342
1     324.324
2    2342.400
3    4324.230
4      32.230
5     543.300
6     457.540
7     645.645
Name: random selected numbers, dtype: float64

In [13]:
a[0]

32.342

In [14]:
a.index

RangeIndex(start=0, stop=8, step=1)

In [15]:
l = ['a','b','c']

In [16]:
l

['a', 'b', 'c']

In [21]:
a.index = ['a','b','c','d','e','f','g','h',]

In [22]:
a

a      32.342
b     324.324
c    2342.400
d    4324.230
e      32.230
f     543.300
g     457.540
h     645.645
Name: random selected numbers, dtype: float64

In [30]:
pd.Series({
    'a' : 32.342, 
    'b' : 324.324,
    'c' : 2342.4,
    'd' : 4324.23,
    'e' : 32.23,
    'f' : 543.3,
    'g' : 457.54,
    'h' : 645.645
})

a      32.342
b     324.324
c    2342.400
d    4324.230
e      32.230
f     543.300
g     457.540
h     645.645
dtype: float64

indexing

In [31]:
a.a

32.342

In [32]:
a['b']

324.324

In [33]:
a.iloc[0]

32.342

In [34]:
a.iloc[-1]

645.645

In [42]:
a[['a', 'b' , 'c']]

a      32.342
b     324.324
c    2342.400
Name: random selected numbers, dtype: float64

In [46]:
a.iloc[[0,1,2]]

a      32.342
b     324.324
c    2342.400
Name: random selected numbers, dtype: float64

In [47]:
a['a' : 'b']

a     32.342
b    324.324
Name: random selected numbers, dtype: float64

<h3>condition slection{boolean arrays}</h3>

In [48]:
a

a      32.342
b     324.324
c    2342.400
d    4324.230
e      32.230
f     543.300
g     457.540
h     645.645
Name: random selected numbers, dtype: float64

In [49]:
a >59

a    False
b     True
c     True
d     True
e    False
f     True
g     True
h     True
Name: random selected numbers, dtype: bool

In [52]:
a[a > 70]

b     324.324
c    2342.400
d    4324.230
f     543.300
g     457.540
h     645.645
Name: random selected numbers, dtype: float64

In [53]:
a.mean()

1087.7513749999998

In [54]:
a[a >a.mean()]

c    2342.40
d    4324.23
Name: random selected numbers, dtype: float64

In [55]:
a.std()

1499.944021091162

In [60]:
 a[(a>70) | (a<30)]

b     324.324
c    2342.400
d    4324.230
f     543.300
g     457.540
h     645.645
Name: random selected numbers, dtype: float64

In [66]:
 a[(a>30) & (a<1000)]

a     32.342
b    324.324
e     32.230
f    543.300
g    457.540
h    645.645
Name: random selected numbers, dtype: float64

<h3>modifying series</h3>

In [70]:
a['a'] = 32.22

In [71]:
a

a      32.220
b     324.324
c    2342.400
d    4324.230
e      32.230
f     543.300
g     457.540
h     645.645
Name: random selected numbers, dtype: float64

In [74]:
a.iloc[-1] =500
a

a      32.220
b     324.324
c    2342.400
d    4324.230
e      32.230
f     543.300
g     457.540
h     500.000
Name: random selected numbers, dtype: float64

In [76]:
a[a > 70] = 99.99

In [77]:
a

a    32.22
b    99.99
c    99.99
d    99.99
e    32.23
f    99.99
g    99.99
h    99.99
Name: random selected numbers, dtype: float64

In [78]:
import pandas as pd

certificates_earned = pd.Series(
    [8, 2, 5, 6],
    index=['Tom', 'Kris', 'Ahmad', 'Beau']
)

print(certificates_earned[certificates_earned > 5])

Tom     8
Beau    6
dtype: int64